<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.healthapp.itemhealth.mapper.EmployeeMapper">

    <resultMap id="EmployeeResultMap" type="com.healthapp.itemhealth.model.Employee">
        <id     property="employeeId" column="employee_id"/>
        <result property="name"       column="name"/>
        <result property="title"      column="title"/>
        <result property="bossRole"   column="boss_role" javaType="boolean"/>
        <result property="hasBoss"    column="has_boss"/>
        <result property="createdAt"  column="created_at"/>
        <result property="updatedAt"  column="updated_at"/>
        <result property="username"   column="username"/>
        <result property="password"   column="password"/>
        <result property="email"      column="email"/>
        <association property="boss" javaType="com.healthapp.itemhealth.model.Boss">
            <id property="employeeId" column="boss_id"/>
        </association>
        
    </resultMap>

    

    <select id="findById" resultMap="EmployeeResultMap">
        SELECT 
            employee.employee_id, 
            employee.name, 
            employee.title, 
            employee.boss_role, 
            employee.has_boss, 
            employee.created_at, 
            employee.updated_at,
            employee.email,
            boss.boss_id, 
            boss_employee.name AS boss_name, 
            boss_employee.employee_id AS boss_employee_id
        FROM employee
        LEFT JOIN boss_subordinates ON employee.employee_id = boss_subordinates.subordinate_id
        LEFT JOIN boss ON boss_subordinates.boss_id = boss.boss_id
        LEFT JOIN employee AS boss_employee ON boss.employee_id = boss_employee.employee_id
        WHERE employee.employee_id = #{employeeId}
    </select>

    <select id="findAllEmployees" resultMap="EmployeeResultMap">
        SELECT 
            e.employee_id, 
            e.name, 
            e.title, 
            e.boss_role, 
            e.has_boss, 
            e.email,
            b.employee_id AS boss_id
        FROM employee e
        LEFT JOIN boss_subordinates bs ON e.employee_id = bs.subordinate_id
        LEFT JOIN boss b ON bs.boss_id = b.employee_id
        ORDER BY e.employee_id ASC
    </select>

    <select id="findAllEmployeesBoss" resultMap="EmployeeResultMap">
        SELECT 
            employee.employee_id, 
            employee.name, 
            employee.title, 
            boss.boss_id,             
            be.name AS boss_name, 
            be.employee_id AS boss_employee_id
        FROM employee
        LEFT JOIN boss_subordinates bs ON employee.employee_id = bs.subordinate_id
        LEFT JOIN boss ON bs.boss_id = boss.boss_id
        LEFT JOIN employee be ON boss.employee_id = be.employee_id
    </select>


    <select id="findBossByEmployeeId" resultMap="EmployeeResultMap">
        SELECT 
            employee.employee_id, 
            employee.name, 
            employee.title, 
            employee.boss_role, 
            employee.has_boss, 
            employee.created_at, 
            employee.updated_at,
            boss.boss_id, 
            boss_employee.name AS boss_name, 
            boss_employee.employee_id AS boss_employee_id
        FROM employee
        LEFT JOIN boss_subordinates ON employee.employee_id = boss_subordinates.subordinate_id
        LEFT JOIN boss ON boss_subordinates.boss_id = boss.boss_id
        LEFT JOIN employee AS boss_employee ON boss.employee_id = boss_employee.employee_id
        WHERE employee.employee_id = #{employeeId}
    </select>

    <select id="login" resultMap="EmployeeResultMap">
        SELECT employee_id, username, password, boss_role 
        FROM employee 
        WHERE username = #{username}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="employeeId">
        INSERT INTO employee (
            name, 
            title, 
            boss_role, 
            has_boss, 
            created_at, 
            updated_at,
            username,
            password,
            email
        )
        VALUES (
            #{name}, 
            #{title}, 
            #{bossRole}, 
            #{hasBoss}, 
            NOW(), 
            NOW(),
            #{username},
            #{password},
            #{email}
        )
    </insert>

    <insert id="insertSubordinate">
        INSERT INTO boss_subordinates (boss_id, subordinate_id)
        VALUES (#{bossId}, #{subordinateId})
    </insert>

    <insert id="insertSub">
        INSERT INTO boss_subordinates (boss_id, subordinate_id)
        SELECT boss_id, #{subordinateId}
        FROM boss
        WHERE employee_id = #{bossId}
    </insert>

    <delete id="deleteSubordinate">
        DELETE FROM boss_subordinates
        WHERE boss_id = #{bossId} AND subordinate_id = #{subordinateId}
    </delete>

    <update id="update" useGeneratedKeys="true" keyProperty="employeeId">
        UPDATE employee 
        SET
            name = #{name}, 
            title = #{title}, 
            boss_role = #{bossRole}, 
            has_boss = #{hasBoss}, 
            updated_at = NOW(),
            username = #{username},
            password = #{password},
            email = #{email}
        WHERE employee_id = #{employee_id}
    </update>

    <update id="reassignBoss">
        UPDATE employee 
        SET boss_id = 1 
        WHERE boss_id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM employee WHERE employee_id = #{employeeId}
    </delete>

    <select id="getEmail" resultMap="EmployeeResultMap">
        SELECT email from employee WHERE employee_id = #{employeeId}
    </select>

</mapper>