<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>

    <div th:fragment="laptop-fields(item)" class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Laptop Model Year</label>
        <input
          type="number"
          id="laptopYear"
          name="laptopYear"
          class="form-control"
          th:value="${item?.laptopYear ?: #temporals.year(#temporals.createNow())}"
          placeholder="e.g. 2023"
          required
        />
      </div>
      <div class="col-md-6">
        <label class="form-label">OS Version</label>
        <input
          type="number"
          id="osVersion"
          name="osVersion"
          class="form-control"
          th:value="${item?.osVersion ?: 1}"
          min="1"
          required
        />
      </div>

      <div class="col-md-12">
        <label class="form-label">Last OS Update</label>
        <input
          type="date"
          id="lastOSUpdate"
          name="lastOSUpdate"
          class="form-control"
          th:value="${item?.lastOSUpdate ?: #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
          required
        />
      </div>

      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-md-4">
            <div class="form-check form-switch p-3 border rounded h-100">
              <input
                class="form-check-input ms-0"
                type="checkbox"
                id="needToUpdate"
                name="needToUpdate"
                th:checked="${item?.needToUpdate}"
              />
              <label class="form-check-label ms-2" for="needToUpdate">
                <strong>Needs Update</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check form-switch p-3 border rounded h-100">
              <input
                class="form-check-input ms-0"
                type="checkbox"
                id="toRenew"
                name="toRenew"
                th:checked="${item?.toRenew}"
              />
              <label class="form-check-label ms-2" for="toRenew">
                <strong>Renew Lease/Plan</strong>
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check form-switch p-3 border rounded h-100">
              <input
                class="form-check-input ms-0"
                type="checkbox"
                id="inUse"
                name="inUse"
                th:checked="${item?.inUse ?: true}"
              />
              <label class="form-check-label ms-2" for="inUse">
                <strong>Currently In Use</strong>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:fragment="car-fields(item)" class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Model Year</label>
        <input
          type="number"
          id="carYear"
          name="carYear"
          class="form-control"
          th:value="${item?.carYear ?: #temporals.year(#temporals.createNow())}"
          required
        />
      </div>
      <div class="col-md-6">
        <label class="form-label">Mileage</label>
        <input
          type="number"
          id="milage"
          name="milage"
          class="form-control"
          th:value="${item?.milage ?: 0}"
          required
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">Last Serviced Date</label>
        <input
          type="date"
          id="lastServiced"
          name="lastServiced"
          class="form-control"
          th:value="${item?.lastServiced ?: #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
          required
        />
      </div>
      <div class="col-md-6">
        <label class="form-label">Next Service Due</label>
        <input
          type="date"
          id="needToServiceDate"
          name="needToServiceDate"
          class="form-control"
          th:value="${item?.needToServiceDate ?: #temporals.format(#temporals.createNow().plusMonths(6), 'yyyy-MM-dd')}"
          required
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">Last Insurance Renewal</label>
        <input
          type="date"
          id="lastInsuranceRenewal"
          name="lastInsuranceRenewal"
          class="form-control"
          th:value="${item?.lastInsuranceRenewal ?: #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
          required
        />
      </div>
      <div class="col-md-6">
        <label class="form-label">Insurance Expiry Date</label>
        <input
          type="date"
          id="insuranceExpireDate"
          name="insuranceExpireDate"
          class="form-control"
          th:value="${item?.insuranceExpireDate ?: #temporals.format(#temporals.createNow().plusYears(1), 'yyyy-MM-dd')}"
          required
        />
      </div>

      <div class="col-12 mt-4">
        <div class="row">
          <div class="col-md-3">
            <div class="form-check form-switch p-3 border rounded h-100">
              <input
                class="form-check-input ms-0"
                type="checkbox"
                id="toService"
                name="toService"
                th:checked="${item?.toService}"
              />
              <label class="form-check-label ms-2" for="toService">
                <strong>Needs Service</strong>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-switch p-3 border rounded h-100">
              <input
                class="form-check-input ms-0"
                type="checkbox"
                id="toRenewInsurance"
                name="toRenewInsurance"
                th:checked="${item?.toRenewInsurance}"
              />
              <label class="form-check-label ms-2" for="toRenewInsurance">
                <strong>Renew Insurance</strong>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-switch p-3 border rounded h-100">
              <input
                class="form-check-input ms-0"
                type="checkbox"
                id="toReplace"
                name="toReplace"
                th:checked="${item?.toReplace}"
              />
              <label class="form-check-label ms-2" for="toReplace">
                <strong>Replace Car</strong>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-switch p-3 border rounded h-100">
              <input
                class="form-check-input ms-0"
                type="checkbox"
                id="inUse"
                name="inUse"
                th:checked="${item?.inUse ?: true}"
              />
              <label class="form-check-label ms-2" for="inUse">
                <strong>Currently In Use</strong>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:fragment="id_card_fields(item)" class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Last Renewed Date</label>
        <input
          type="date"
          id="lastRenewedDate"
          name="lastRenewedDate"
          class="form-control"
          th:value="${item?.lastRenewedDate ?: #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
          required
        />
        <div class="form-text">Date of last renewal or issue</div>
      </div>

      <div class="col-md-6">
        <label class="form-label">Next Renewal Due</label>
        <input
          type="date"
          id="needToRenewDate"
          name="needToRenewDate"
          class="form-control"
          th:value="${item?.needToRenewDate ?: #temporals.format(#temporals.createNow().plusYears(2), 'yyyy-MM-dd')}"
          required
        />
        <div class="form-text">Deadline for next renewal</div>
      </div>

      <div class="col-12 mt-4">
        <div class="row">
          <div class="col-md-6">
            <div class="form-check form-switch p-3 border rounded h-100">
              <input
                class="form-check-input ms-0"
                type="checkbox"
                id="toRenew"
                name="toRenew"
                th:checked="${item?.toRenew}"
              />
              <label class="form-check-label ms-2" for="toRenew">
                <strong>Mark for Renewal</strong><br />
                <small class="text-muted">Toggle on if renewal is required</small>
              </label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-check form-switch p-3 border rounded h-100">
              <input
                class="form-check-input ms-0"
                type="checkbox"
                id="inUse"
                name="inUse"
                th:checked="${item?.inUse ?: true}"
              />
              <label class="form-check-label ms-2" for="inUse">
                <strong>Currently In Use</strong><br />
                <small class="text-muted">Toggle on if card is currently active</small>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>