<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ERM - Login</title>

  </head>
  <body>
    <div class="login-container">
      <h2>Employee Login</h2>

      <div th:if="${param.error}" style="color: red">
        Invalid username or password.
      </div>

      <div th:if="${param.logout}" style="color: green">
        You have been logged out.
      </div>

      <form th:action="@{/login}" method="post">
        <div>
          <label>Username:</label>
          <input type="text" name="username" required autofocus />
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password" required />
        </div>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div>
      <br />
      Boss login dummy info <br />Username: test<br />Password: password123<br /><br />Regular
      user dummy info<br />Username: test2<br />Password: password123
    </div>
    <br />
    <div>
      Neither "Big boss" (test1) or "Lowly Employee" (test2) accounts can be deleted in the app.
    </div>
  </body>
</html>
