<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{fragments/layout :: common-head('Edit ' + ${type})}"
  ></head>
  <body class="container mt-5">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h3 th:text="'Edit ' + ${#strings.capitalize(type)}">Edit Item</h3>
      </div>
      <div class="card-body">
        <form id="edit-form">
  <input type="hidden" id="item-id" 
         th:value="${type == 'laptop' ? item.laptopId : (type == 'car' ? item.carId : item.idCardId)}" />
  
  <input type="hidden" id="item-type" th:value="${type}" />

  <div th:replace="~{fragments/forms :: __${type}__-fields(${item})}"></div>

  <div class="mt-4">
    <button type="button" onclick="saveData()" class="btn btn-success">Save Changes</button>
    <a th:href="@{/bossdashboard}" class="btn btn-secondary">Cancel</a>
  </div>
</form>

<script th:src="@{/js/item_handler.js}"></script>
  </body>
</html>
