<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.healthapp.itemhealth.mapper.LaptopMapper">

    <resultMap id="LaptopResultMap" type="Laptop">
    <id     property="laptopId"     column="laptop_id"/>
    <result property="osVersion"    column="os_version"/>
    <result property="needToUpdate" column="need_to_update"/>
    <result property="laptopYear"   column="laptop_year"/>
    <result property="toRenew"      column="to_renew"/>
    <result property="inUse"        column="in_use"/>
    <result property="employeeId"   column="employee_id"/>
    <result property="createdAt"    column="created_at"/>
    <result property="updatedAt"    column="updated_at"/>
</resultMap>

<resultMap id="LaptopWithEmployeeResultMap" type="Laptop" extends="LaptopResultMap">
    <association property="employee" javaType="Employee">
        <id     property="employeeId" column="employee_id"/>
        <result property="name"       column="employee_name"/>
        <result property="title"      column="employee_title"/>
    </association>
</resultMap>


    <select id="findById" resultMap="LaptopWithEmployeeResultMap">
        SELECT employee.name AS employee_name, 
        employee.employee_id,
        laptop.laptop_id,
        laptop.os_version,
        laptop.need_to_update,
        laptop.laptop_year,
        laptop.to_renew,
        laptop.in_use,
        laptop.employee_id,
        laptop.created_at,
        laptop.updated_at
        FROM Laptop LEFT JOIN Employee ON employee.employee_id = laptop.employee_id
        WHERE laptop_id = #{laptopId}
    </select>

    <select id="findAll" resultMap="LaptopWithEmployeeResultMap">
        SELECT employee.name AS employee_name, 
        employee.employee_id,
        laptop.laptop_id,
        laptop.os_version,
        laptop.need_to_update,
        laptop.laptop_year,
        laptop.to_renew,
        laptop.in_use,
        laptop.employee_id,
        laptop.created_at,
        laptop.updated_at
        FROM Laptop LEFT JOIN Employee ON employee.employee_id = laptop.employee_id
    </select>

    <select id="findNeedToUpdate" resultMap="LaptopWithEmployeeResultMap">
        SELECT employee.name AS employee_name, 
        employee.employee_id,
        laptop.laptop_id,
        laptop.os_version,
        laptop.need_to_update,
        laptop.laptop_year,
        laptop.to_renew,
        laptop.in_use,
        laptop.employee_id,
        laptop.created_at,
        laptop.updated_at
        FROM Laptop LEFT JOIN Employee ON employee.employee_id = laptop.employee_id
        WHERE laptop.need_to_update = TRUE
    </select>

    <select id="findInUse" resultMap="LaptopWithEmployeeResultMap">
        SELECT employee.name AS employee_name, 
        employee.employee_id,
        laptop.laptop_id,
        laptop.os_version,
        laptop.need_to_update,
        laptop.laptop_year,
        laptop.to_renew,
        laptop.in_use,
        laptop.employee_id,
        laptop.created_at,
        laptop.updated_at
        FROM Laptop LEFT JOIN Employee ON employee.employee_id = laptop.employee_id
        WHERE laptop.in_use = TRUE
    </select>

    <select id="findToRenew" resultMap="LaptopWithEmployeeResultMap">
        SELECT employee.name AS employee_name, 
        employee.employee_id,
        laptop.laptop_id,
        laptop.os_version,
        laptop.need_to_update,
        laptop.laptop_year,
        laptop.to_renew,
        laptop.in_use,
        laptop.employee_id,
        laptop.created_at,
        laptop.updated_at
        FROM Laptop LEFT JOIN Employee ON employee.employee_id = laptop.employee_id
        WHERE laptop.to_renew = True
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="laptopId">
        INSERT INTO laptop (os_version, need_to_update, laptop_year, to_renew, in_use, employee_id, created_at, updated_at)
        VALUES (#{osVersion}, #{needToUpdate}, #{laptopYear}, #{toRenew}, #{inUse}, #{employeeId}, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE laptop SET
            os_version     = #{osVersion},
            need_to_update = #{needToUpdate},
            laptop_year    = #{laptopYear},
            to_renew       = #{toRenew},
            in_use         = #{inUse},
            employee_id    = #{employeeId},
            updated_at     = NOW()
        WHERE laptop_id = #{laptopId}
    </update>

    <delete id="delete">
        DELETE FROM laptop WHERE laptop_id = #{laptopId}
    </delete>

</mapper>